*,
::after,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

body {
  background: url("/assets/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-color: #000113;
  background-repeat: no-repeat;
}

p {
  font-size: 14px;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semi-bold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

button:focus,
button:active {
  outline: none;
  border: none;
}

li {
  list-style: none;
}

input:focus {
  outline: #8e91ff !important;
  border: 1px solid #8e91ff;
}

.form-check-input:checked {
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
}

.form-check-input:focus {
  border-color: #4caf50 !important;
  box-shadow: none;
}

.disabled {
  background: rgb(189, 189, 189) !important;
  outline: none;
  color: #fff !important;
  border: none;
}

.hala-top-section {
  position: relative;
  .logo-container {
    .logo {
      margin-bottom: -30px;
      width: 150px;
    }
  }
  .voice-chat-room {
    height: 450px;
    width: 450px;
    background: #17082b;
    padding: 90px 0 30px 0 !important;
    .voice-chat-room-content {
      .voice-chat-desc {
        .user {
          position: relative;
          .bg {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 4px solid #fba931;
            overflow: hidden;
            .user-img {
              object-fit: cover;
              width: 100%;
            }
            .user-icon {
              position: absolute;
              width: 20px;
              height: 20px;
              top: 0;
              right: 15px;
              z-index: 6;
              background: #fff;
              border-radius: 50%;
            }
          }
          .fa-circle {
            color: #16b501;
            font-size: 12px;
          }
        }
      }
      .form-check-input {
        width: 50px;
        height: 29px;
      }
      .form-check-label {
        width: 100px;
      }
    }
    .chat-options {
      width: 100%;
      margin-top: 57px;
      .chat-start {
        width: 100% !important;
        .btn {
          width: inherit;
          background: #16b501;
        }
      }
      .chat-stop {
        .btn {
          background: #9f0faf;
          width: 100%;
        }
      }
    }
    .text-green {
      color: #37d926;
    }
  }
  .text-chat {
    .text-chat-room {
      height: 450px;
      width: 450px;
      background: url("/assets/chat-room.jpg");
      background-position: top center;
      position: relative;
      .chat-room-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        .chat-input-options {
          background: #000226;
          width: 100%;
          .input {
            .fa {
              color: #fff;
              text-align: center;
              margin-right: 5px;
              cursor: pointer;
            }
            .emoji {
              padding-left: 5px;
            }
            .input-text {
              width: 80%;
              padding-left: 10px !important;
            }
            .fa-paper-plane {
              text-align: right;
              margin-left: 10px;
              margin-right: 0;
            }
          }
        }
      }
    }
    .hala-chat-options {
      width: 100% !important;
      margin-top: 20px;
      .chat-both {
        width: 50%;
        margin-right: 8px;
        .btn-both {
          width: 100%;
          display: flex !important;
          background: #8e91ff;
          align-items: center;
          justify-content: center;
          .both-icon {
            margin-right: 10px;
          }
        }
      }
      .chat-all {
        width: 50%;
        .btn-all {
          width: 100%;
          background: #8e91ff;
          .all-icon {
            margin-right: 8px;
          }
        }
      }
    }
  }
  .new-buttons {
    position: absolute;
    bottom: 10%;
    left: 0;
    padding: 0 0 0 20px;
    .chat-start {
      width: 100% !important;
      .btn {
        width: inherit;
        background: #16b501;
      }
    }
  }
  .new-stop-buttons {
    position: absolute;
    bottom: 10%;
    right: 51%;
    padding: 0 0 0 20px;
    .chat-stop {
      .btn {
        background: #9f0eaf;
      }
      .bg-green {
        background: #16b501;
      }
    }
  }
}

/* Menu Bar */
.menu-bar {
  background: #ffa934;
  .menu-container {
    .menu-list {
      display: flex;
      margin: 0 auto;
      max-width: 1000px;
      .menu-list-items {
        font-size: 18px;
        padding: 15px 10px;
        cursor: pointer;
      }
    }
  }
}

/* Global Voice Chat */
.hala-global {
  .hala-global-container {
    display: flex;
    max-width: 780px;
    margin: 0 auto;
    .hala-global-content {
      .header {
        text-align: center;
      }
      .hala-global-desc {
        .global-vid {
          width: 390px;
          height: 350px;
          margin-right: 20px;
          position: relative;
          .video {
            width: inherit;
            height: inherit;
          }
          .play-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 40px;
            color: #fff;
          }
        }
        .global-text {
          font-size: 18px;
        }
      }
    }
  }
}

/* Voice Chat Features */
.voice-chat-features {
  .voice-chat-container {
    max-width: 780px;
    margin: 0 auto;
    .voice-chat-content {
      .header {
        text-align: center;
      }
      .cards {
        .card-container {
          width: 250px;
          height: 460px;
          background: #ffa934;
          color: #23005e;
          .card-content {
            margin-top: 20px;
            .card-img {
              margin: 0 auto;
              width: 100px;
            }
            .card-desc {
              .desc {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

/* Languages options */
.lang-opt {
  max-width: 850px;
  margin: 0 auto;
  .lang-opt-container {
    .lang-opt-content {
      text-align: center;
      .tag {
        display: inline-block;
        margin: 10px 3px;
        padding: 4px 15px;
        background: #9f0eaf;
      }
      .fa-plus-circle,
      .fa-minus-circle {
        color: #fff;
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }
}

/* Wave image */
.wave-final {
  overflow: hidden;
  .wave-final-img {
    object-fit: contain;
    width: 100%;
  }
}

/* Free Chat */
.free-chat {
  .free-chat-container {
    max-width: 780px;
    margin: 0 auto;
    .btn-free-chat {
      margin: 0 auto;
      text-align: center;
      width: 220px;
      height: 58px;
      background: #fff;
      padding: 0 5px;
      .bg-orange {
        font-size: 24px;
        width: 220px;
        height: 50px;
        text-align: center;
        padding-top: 5px;
        margin: 0 auto;
        background: #ffa934;
      }
    }
  }
}

.footer {
  background: #ffa934;
  .footer-container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px 10px;
    .social-links {
      .social-icons {
        width: 30px;
        cursor: pointer;
      }
    }
    .copyrights {
      margin: 0 auto;
      white-space: break-spaces;
      width: 100%;
      text-align: center !important;
      transform: translateX(-50px);
    }
  }
}

@media screen and (max-width: 1000px) {
  .voice-chat-room {
    height: auto !important;
  }
}

@media screen and (max-width: 767px) {
  /* Voice Chat Features */
  .voice-chat-features {
    .voice-chat-container {
      .voice-chat-content {
        .cards {
          .card-container {
            width: 390px;
            height: auto;
          }
        }
      }
    }
  }
}
